extends layout
block head
block body
	.createpost-main
		.create-form-wrap
			form#createpost-form(method="post" action="/posts")
				div
					label 标题
					input(type="text" name="title")
				div
					label 内容
					textarea(name="content" rows="15")
				div
					input.btn.createpost-btn(type="submit" value="发布")
	include footer
blcok head