extends layout
block head
block body
	include tpls/avatar
	.editpost-form-wrap
		form.editpost-form
			.field.required
				label 标题
				input( name="title" type="text" value="#{post.title}")
			.field.required
				label 内容
				textarea( name="content" rows="15") #{post.content}	
block foot